/* import google font  */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap");

/* This section must be applied to every page */
* {
  font-family: "Roboto Slab", serif;
}
body {
  background-color: #f8f4f1;
}
header {
  padding: 40px;
  background: linear-gradient(45deg, rgb(228, 199, 199), white);
  color: #8c0724;
}
header h1 {
  font-size: 70px;
}
header a {
  text-decoration: none;
  color: #8c0724;
}
header a:hover {
  color: #8c0724;
}
nav {
  display: flex;
  flex-direction: row;
  padding: 20px;
  background-color: rgb(228, 199, 199);
}
nav a {
  color: #a34a21;
  font-size: 20px;
  background-color: rgb(228, 199, 199);
  text-decoration: none;
  margin-left: 40px;
}
nav a:hover {
  color: #e0217a;
}
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;

  bottom: 0;
  width: 100%;
}
/* ------------------------------------------- */

/* Login section */
.container-login {
  min-height: calc(100vh - 40px * 2);
  display: grid;
  grid-template-columns: 50% 50%;
  overflow: hidden;
}
.login-left {
  display: flex;
  flex-direction: column;
  justify-content: content;
  padding-left: 150px;
  background-color: white;
}
.login-right {
  background: linear-gradient(45deg, white, rgb(223, 159, 159));
  display: flex;
  justify-content: center;
}
.login-form {
  width: 450px;
}
.login-form-content {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.login-form-footer {
  display: flex;
  gap: 30px;
  margin-top: 70px;
}
.login-form-footer a {
  flex: 6;
  border-radius: 100px;
  padding: 0.6rem;
  justify-content: center;
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
}
.login-form-footer a:hover {
  background-color: #eee;
}
.checkbox {
  display: flex;
  align-items: center;
  gap: 7px;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: #f0c88c;
}
button.login-button {
  border: none;
  background: linear-gradient(45deg, #f0c88c, rgb(228, 199, 199));
  color: white;
  padding: 1rem;
  border-radius: 100px;
  text-align: center;
  text-transform: uppercase;  /* change text to uppercase */
  font-size: 18px;
  height: 55px;
  margin-top: 30px;
}
.login-header {
  margin-top: 50px;
  margin-bottom: 50px;
  color: #8c0724;
}
.login-header h1 {
  font-size: 40px;
  margin-bottom: 10px;
}
.login-header p {
  opacity: 0.7;
}
.form-item label:not(.checkboxLabel) {    /* style the input box (make the text stands between the border line) */
  display: inline-block;
  background-color: white;
  margin-bottom: 10px;
  position: absolute;
  padding: 0 10px;
  transform: translate(30px, -10px);  /* move the text 30px in x-axis and -10px in y-axis */
  font-size: 14px;
}
input[type="text"],
input[type="password"] {
  border: 1px solid black;
  height: 55px;
  padding: 0 2rem;
  width: 100%;
  font-size: 18px;
  border-radius: 100px;
}
.login-right img {
  margin: auto;
  object-fit: cover;
}
/*-----------------------------------*/

/* Search Section */
#search-form {
  text-align: center;
  padding-top: 50px;
}
#search-form * {
  margin-bottom: 20px;
  color:#8c0724;
}
input[type="text-search"] {
  height: 30px;
  width: 50%;
  border-radius: 8px;
  font-size: 20px;
}
#search-form label {
  padding-right: 10px;
}
#type-drink {
  padding-top: 1%;
}
#search-btn {
  border: none;
  background: linear-gradient(45deg, #f0c88c, rgb(228, 199, 199));
  color: white;
  padding: 1rem;
  border-radius: 100px;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  height: 55px;
  cursor: pointer;
}
#search-btn :hover {
  color: #ff0077;
  border-color: #ff0077;
  cursor: pointer;
}

.container-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
/*-----------------------------------*/

/* Carousel and card image zooming effect while cursor hovering */
.carousel-item img {
  transition: transform 1s ease;
}
.carousel-item img:hover {
  transform: scale(1.2);
}
.card img {
  transition: transform 1s ease;
}
.card img:hover {
  transform: scale(1.1);
}
/*-----------------------------------*/

/* About us */
div p {
  font-size: 18px;
  color: #6a070a;
}
/*-----------------------------------*/


/* pManage section */
.container-fluid {
  padding: 0 10px;
}
.col-8 h1 {
  color: #8c0724;
  text-align: center;
}
/* Product Input form */
.product-input {
  background: linear-gradient(45deg, #fde0c9, #ebe5de);
  padding: 20px;
  border-radius: 15px;
}
.product-input h1 {
  font-size: 32px;
  color: #8c0724;
  margin-bottom: 20px;
  border-radius: 15px;
}
.product-input label {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  color: #8c0724;
  border-radius: 15px;
}
.product-input input[type="text"],
.product-input input[type="number"],
.product-input input[type="file"], textarea {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  width: 350px;
  border-radius: 15px;
}
.product-input input[type="radio"] {
  margin-right: 5px;
}
.product-input button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #fcaaa1;
  color: #8c0724;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}
.product-input button[type="reset"] {
  margin-left: 10px;
  background-color: #ffffff;
  color: #f79489;
}
.pManage {
  color: #bd7304;
}
/* Existing Products Table Styles */
table {
  margin-top: 50px;
}
table th,
table td {
  text-align: center;
  font-size: 18px;
}
table th {
  background-color: #f79489;
  color: black;
}
table tr:nth-child(odd) {
  background-color: rgb(150, 219, 224);
}
table tr:hover {
  background-color: #88e2e98e;
}
table i {
  font-size: 24px;
  cursor: pointer;
  margin: 0 5px;
}
table i:hover {
  color: #f79489;
}
/*-----------------------------------*/

/* A gradient box design */
.review-box {
  background: linear-gradient(45deg, #fde0c9, #ebe5de);
  padding: 20px;
  margin: auto 20px;
  border-radius: 15px;
}

/* Edit the navigation bar for smaller screen */
@media (max-width: 800px) {
  nav {
    flex-direction: column;
  }
  nav a {
    padding: 10px;
  }
}
